@{
    ViewBag.Title = "Home";
    Layout = "~/Areas/IFITransactions/Views/Shared/_Layout.cshtml";
} 
<div class="text-center">
  
    <img src="~/Images/IFI.png" />

</div>
@Scripts.Render("~/bundles/Content/Lib/BloqueoF12")