@{
    Layout = null;
}

<div id="UserAuthCallDetail">
    <div id="modal-content">
        <div class="panel panel-info">
            <div class="panel-heading claro-modal-contenido-titulo-panel">
                <h4 class="panel-title claro-modal-contenido-titulo-texto" id="lblTitulo_Validar">
                    Autorización
                </h4>
            </div>
        </div>
    </div>

    <div class="form-horizontal">
        <div class="form-group">
            <label for="txtUsernameAuth" class="col-sm-4 control-label">Usuario:</label>
            <div class="col-sm-8">
                <input type="email" class="form-control" id="txtUsernameAuth" placeholder="Usuario">
            </div>
        </div>
        <div class="form-group">
            <label for="txtPasswordAuth" class="col-sm-4 control-label">Contraseña:</label>
            <div class="col-sm-8">
                <input type="password" class="form-control" id="txtPasswordAuth" placeholder="Constraseña">
            </div>
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/Content/Lib/BloqueoF12")