<?xml version="1.0"?>
<configuration>  
  <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>

  <!-- Inicio Estado ventana Menu -->
  <strEstadoVentanaMenu>toolbar=no|left=200|top=100|width=800|height=500|directories=no|status=yes|scrollbars=yes|status=yes|resizable=yes|resize=no|menubar=no</strEstadoVentanaMenu>
  <!-- Fin Estado ventana Menu -->
  
  <!--Servicio Cuenta Personal -->
  <ServicioCuentaPersonal>118</ServicioCuentaPersonal>
  <JerarquiaPerfiles>252|126|114|119|74|75|81|265|70|76|48|267|80|186|275|263|299|57|66|250|357|77|2|63|69|252|8|294|186|67|255|355|185|82|83|270|47|21|22|1|6|261|7|292|62|274|354|61|68|51|5|64|4|3|231|234</JerarquiaPerfiles>
  <!-- Inicio Abrev. de plataformas -->  
  <strVariableR>R</strVariableR>
  <strVariableG>G</strVariableG>
  <strVariableA>A</strVariableA>
  <strVariableH>H</strVariableH>
  <strVariableJ>J</strVariableJ>
  <strVariableC>C</strVariableC>
  <strVariableP>P</strVariableP>
  <strVariableT>T</strVariableT>
  <strVariableM>M</strVariableM>
  <strVariableE>E</strVariableE>
  <strVariableSIA>SIA</strVariableSIA>
<strVariableF>F</strVariableF>
  <strVariableV>V</strVariableV>
  <strConstFechaNula>01/01/1900</strConstFechaNula>
  <strNumeracionUNOSGA>001</strNumeracionUNOSGA>
  <strNumeracionDOSSGA>002</strNumeracionDOSSGA>
  <strNumeracionCUATROSGA>004</strNumeracionCUATROSGA>
  <strNumeracionSEISSGA>006</strNumeracionSEISSGA>
  <strVariableRice>RICE</strVariableRice>
  <strVariableJanus>JANUS</strVariableJanus>
  <strVariableControl>CONTROL</strVariableControl>
  <strVariablePuro>PURO</strVariablePuro>
  <Page_Size_Recibos>6</Page_Size_Recibos>
  <!-- Fin Abrev. de plataformas -->

  <!--Inicio TextBox de Busqueda -->
  <strMaxLengthTelefono>9</strMaxLengthTelefono>
  <strCaracterTelefono>0123456789</strCaracterTelefono>
  <strMaxLengthContrato>9</strMaxLengthContrato>
  <strCaracterContrato> 0123456789.abcdefghijklñnmopqrstuvwxyzABCDFGHIJKLÑNMOPQRSTUVWXYZ</strCaracterContrato>
  <strMaxLengthCuenta>22</strMaxLengthCuenta>
  <strCaracterCuenta> 0123456789.abcdefghijklñnmopqrstuvwxyzABCDFGHIJKLÑNMOPQRSTUVWXYZ</strCaracterCuenta>
  <strMaxLengthNombres>20</strMaxLengthNombres>
  <strCaracterNombres> .abcdefghijklñnmopqrstuvwxyzABCDFGHIJKLÑNMOPQRSTUVWXYZ</strCaracterNombres>
  <strMaxLengthRazonSocial>20</strMaxLengthRazonSocial>
  <strCaracterRazonSocial> 0123456789.abcdefghijklñnmopqrstuvwxyzABCDFGHIJKLÑNMOPQRSTUVWXYZ</strCaracterRazonSocial>
  <strMaxLengthDocIdentidad>15</strMaxLengthDocIdentidad>
  <strCaracterDocIdentidad>0123456789</strCaracterDocIdentidad>
  <strMaxLengthCustId>15</strMaxLengthCustId>
  <strMaxLengthCintillo>15</strMaxLengthCintillo>
  <!--Fin TextBox de Busqueda  -->

  <!--inicio Propiedades de combo -->
  <gConstValueField>CODIGO</gConstValueField>
  <gConstTextField>DESCRIPCION</gConstTextField>
  <strSeleccionar>-- Seleccionar --</strSeleccionar>
  <strTodos>--- Todos ---</strTodos>
  <strNoIndicado>[No Indicado]</strNoIndicado>
  <!--Fin Propiedades de combo -->
  
  <!--inicio crear Interaccion -->
  <ColaTipoCliente>1;RED BUSINESS|2;RED CONSUMER</ColaTipoCliente>
  <TrioPorDefecto>4</TrioPorDefecto>
  <FechaTrioPorDefecto>23/04/2007</FechaTrioPorDefecto>  
  <!--fin crear Interaccion -->
  
  <!--Inicio Generico -->
  <gConstListarServicios>SIAC_SERVICIOS_CLARO</gConstListarServicios>
  <ConstKeyListaDocumentos>LISTA_DOCUMENTOS</ConstKeyListaDocumentos>
  <ConstKeyListaPorcentaje>LISTA_PORCENTAJE</ConstKeyListaPorcentaje>
  <gStrEmpresaDesc>América Móvil Perú S.A.C.</gStrEmpresaDesc>

  <gStrConstTPI>TPI</gStrConstTPI>
  <gStrConstTPIDes>Claro Hogar</gStrConstTPIDes>
  <gStrConstInternet>INTERNET</gStrConstInternet>
  <gStrConstInternetDes>Internet</gStrConstInternetDes>
  <gStrConstFijoPost>FIJO POST</gStrConstFijoPost>
  <gStrConstFijoPostDes>Telefonía Fija Inalámbrica</gStrConstFijoPostDes>
  <gStrConstDthPost>DTH POST</gStrConstDthPost>
  <gStrConstDthPostDes>TV Satelital</gStrConstDthPostDes>
  <gStrConstMovilDes>Telefonía Móvil</gStrConstMovilDes>  
  <!--fin Generico -->

  <!--Inicio Valores Constantes-->
  <strOkDropDown>OK</strOkDropDown>
  <strValorDropDown>VALOR</strValorDropDown>
  <strDescripcionDropDown>DESCRIPCION</strDescripcionDropDown>
  <strCargaDropDown>CARGA</strCargaDropDown>
  <strFacturaCalcularSaldo>FACTURA</strFacturaCalcularSaldo>
  <strPagoCalcularSaldo>PAGO</strPagoCalcularSaldo>
  <strAjusteCalcularSaldo>AJUSTE</strAjusteCalcularSaldo>
  <strTransferenciaCalcularSaldo>TRANSFERENCIA INCOBRABLE</strTransferenciaCalcularSaldo>
  <strTPIvalidarPermiso>TPI</strTPIvalidarPermiso>
  <strConceptoId>CONCEPTOID</strConceptoId>
  <strInternetvalidarPermiso>Internet</strInternetvalidarPermiso>
  <strDNICargarConsultaDeuda>1</strDNICargarConsultaDeuda>
  <strRUCCargarConsultaDeuda>6</strRUCCargarConsultaDeuda>
  <strConsultaCargarB2EBusiness>Contacto :</strConsultaCargarB2EBusiness>
  <strClienteCargarB2EBusiness>Cliente :</strClienteCargarB2EBusiness>  
  <CorreoServicioAlCliente>atencionalcliente@claro.com.pe</CorreoServicioAlCliente>
  <FechaDistribucionUltimoRecibo>http://www.smpcourier.com.pe/</FechaDistribucionUltimoRecibo>

  <strConstCambioDatosMenores>CambioDatosMenores</strConstCambioDatosMenores>
  <strConstCambioDatosNombre>CambiosDatosNombre</strConstCambioDatosNombre>
  <strConstCambioTitularidad>CambioTitularidad</strConstCambioTitularidad>
  <strConstCambioDireccion>CambioDireccion</strConstCambioDireccion>

  <!--Fin Valores Constantes-->

<!-- Inicio Activacion y Desactivacion de Servicios-->
  <strTransaccion>TRANSACCION_ACT_DES_SER</strTransaccion>
  <strEstadoProgActDesTA>TA</strEstadoProgActDesTA>
  <strEstadoProgActDesFA>FA</strEstadoProgActDesFA>
  <strEstadoProgActDesADP>ADP</strEstadoProgActDesADP>
  <strCodigoApliTRADSC>SIACHFC</strCodigoApliTRADSC>
  <strEstadoProgramadoActivar>A</strEstadoProgramadoActivar>
  <strEstadoProgramadoDesactivar>D</strEstadoProgramadoDesactivar>
  <strOperationType>A</strOperationType>
  <strEstadoActivo>ACTIVO</strEstadoActivo>
  <strEstadoDesactivo>DESACTIVO</strEstadoDesactivo>
  <strComandoMigracion>Migracion</strComandoMigracion>
  <strComandoBorrarPlanPost>BorrarPlanPost</strComandoBorrarPlanPost>
  <strComandoBorrarDesactivacionContrato>BorrarDesactivacionContrato</strComandoBorrarDesactivacionContrato>
  <strComandoBorrarSuspension>BorrarSuspension</strComandoBorrarSuspension>
  <strEjecutaTransaccionADSC>1</strEjecutaTransaccionADSC>
  <strFiltroPVUTRADSC>1</strFiltroPVUTRADSC>
  <strNomServVODADSC>Servicio VOD</strNomServVODADSC>
  <strUsaUserConfTADSC>1</strUsaUserConfTADSC>
  <strUserConfTADSC>USRSIACP</strUserConfTADSC>
  <gConstFlagAccSusRetEnLin>0</gConstFlagAccSusRetEnLin>
  <gConstFlagAccSusRetTempo>1</gConstFlagAccSusRetTempo>
  <intDiasMinSuspensionLTE>1</intDiasMinSuspensionLTE>
  <intDiasMinSuspensionLTE>1</intDiasMinSuspensionLTE>
  <intDiasMinRetencionSuspensionLTE>1</intDiasMinRetencionSuspensionLTE>
  <flagRestringirAccesoTemporalSRASC>0</flagRestringirAccesoTemporalSRASC>
  <strEstadoContratoInactivo>Desactivo</strEstadoContratoInactivo>
  <strEstadoContratoSuspendido>Suspendido</strEstadoContratoSuspendido>
  <strEstadoContratoReservado>Reservado</strEstadoContratoReservado>
  <!-- Fin Activacion y Desactivacion de Servicios-->

  <!--Ajustes por reclamos-->
  <strHFClistaConce>TV Satelital</strHFClistaConce>
  <!-- Fin Ajustes por reclamos-->
  
 <!--Inicio Consulta SOT -->
  <MontoCostoCambioSIM>0.00</MontoCostoCambioSIM>
  <strTvSatelital>TV Satelital</strTvSatelital>
  <strTelMovil>Telefonía Móvil</strTelMovil>
  <strConstDummyTitle>Dummy ID: </strConstDummyTitle>
  <strConstPadreIDTitle>Padre ID: </strConstPadreIDTitle>
  <strCodeTipoProblema>1</strCodeTipoProblema> <!-- En la base de datos se graba 12 -->
  <strConstCasosMasivos>CasosMasivos</strConstCasosMasivos>
  <strConstChrsValidos>abcdefghijklmnñopqrstuvwxyzABCDEFGHIJKLMNÑOPQRSTUVWXYZ1234567890 áéíóúÁÉÍÓÚ.</strConstChrsValidos>
  <strConstChrsValidosMD>abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ1234567890 -.</strConstChrsValidosMD>
  <strConstSaldoRegAjuste>0123456789.</strConstSaldoRegAjuste>
  <strConstDiasAtrasadosMasivos>90</strConstDiasAtrasadosMasivos>
  <strConstDefaultConsSoluc>39</strConstDefaultConsSoluc>
  <strConstDefaultConsProb>39</strConstDefaultConsProb>
  <!--Fin Consulta SOT  -->

<!--Inicio Registro Ajuste-->
  <strTipSerRegAjuste>1</strTipSerRegAjuste>
  <strTipSerRegAjusteO>0</strTipSerRegAjusteO>
  <strTipSerRegAjusteOO>00</strTipSerRegAjusteOO>
  <strTipSerRegAjusteOOO>000</strTipSerRegAjusteOOO>
  <strTipSerRegAjusteF>2</strTipSerRegAjusteF>
  <strTipSerRegAjusteT>3</strTipSerRegAjusteT>
  <strTipSerRegAjusteB>B</strTipSerRegAjusteB>
  <strTipSerRegAjusteM>-1</strTipSerRegAjusteM>
  <strTipSerRegAjusteG>G</strTipSerRegAjusteG>
  <strRegAjusteNroServ>Nro. Servicio:</strRegAjusteNroServ>
  <strRegAjusteCorp>Corporativo</strRegAjusteCorp>
  <strRegAjusteGuard>Guardar</strRegAjusteGuard>
  <strRegAjusteReclDth>DTH</strRegAjusteReclDth>
  
  <!--Fin Registro Ajuste-->

  <!-- Constantes de Duplicado de Facturas y Recibo por Correo -->
  <strConstDupFacturas>DuplicadoFacturas</strConstDupFacturas>
	<strConstReciboCorreo>ReciboCorreo</strConstReciboCorreo>
  <strConstBotonGuardar>Guardar</strConstBotonGuardar>
  <strConstIdentifCliente>CONSUMER</strConstIdentifCliente>
  <strConstLogVacio>LOG_VACIO</strConstLogVacio>
  <strConstPostPago>POSTPAGO</strConstPostPago>
  <strConstFijoPost>Fijo Post</strConstFijoPost>
  <strConstHCTNumPlanTFI>HCTNUMEROCPLANSOLOTFI</strConstHCTNumPlanTFI>
  <strConstFlagRegistered0>0</strConstFlagRegistered0>
  <strConstFlagRegistered1>1</strConstFlagRegistered1>
  <strConstFlagInteraccion1>1</strConstFlagInteraccion1>
  <strConstFlagVariation0>0</strConstFlagVariation0>
  <strConstFlagVariation1>1</strConstFlagVariation1>
  <strConstB2E>B2E</strConstB2E>
  <strConstBusiness>Business</strConstBusiness>
  <strConstNoPrecisado>No Precisado</strConstNoPrecisado>
  <strConstIsMail0>0</strConstIsMail0>
  <strConstIsMail1>1</strConstIsMail1>
  <strConstActivacion>Activación</strConstActivacion>
  <strConstDesactivacion>Desactivación</strConstDesactivacion>
  <strConst2undefined>undefined|undefined</strConst2undefined>
  <strConstEnviarEmail>EnviarEmail</strConstEnviarEmail>
    <strConstValidaTelCliente>0</strConstValidaTelCliente>
  <!-- Fin de Duplicado de Facturas y Recibo por Correo -->

<!-- Constantes de Datos del Cliente y la Cuenta-->
  <strConstPeriodoInicial>200609</strConstPeriodoInicial>
  <strConstLimiteCredito>LimiteCredito</strConstLimiteCredito>
  <strConstFecIniDefault>20000101</strConstFecIniDefault>
  <strConstFiltroAnotacion>Abierto</strConstFiltroAnotacion>
	<strConstGarantia>Garantía</strConstGarantia>
  <strConstAnotaciones>Anotaciones</strConstAnotaciones>
  <strConstSubcuentas>Subcuentas</strConstSubcuentas>
  <strConstDatosCliente>DatosCliente</strConstDatosCliente>
  <!-- Fin de Datos del Cliente y la Cuenta-->

  <!-- Constantes de Validacion -->
  <strConstAutorizacionLinea>Autorización Línea</strConstAutorizacionLinea>
  <strConstAutorizacionEquipo>Autorización Equipo</strConstAutorizacionEquipo>
  <strConstAutorizacion>Autorización</strConstAutorizacion>
  <!-- Indica la jerarquía de perfiles a usar, se deben listar del perfil de más privilegios al de menos privilegios -->
  <strConstJerarquiaPerfiles>126|114|119|74|75|81|70|76|48|80|186|57|66|77|2|63|69|8|67|82|83|47|21|22|1|6|7|62|61|68|51|5|64|4|3</strConstJerarquiaPerfiles>
  <strConstValidaFidelizaApadece>gConstValidaFidelizaApadece</strConstValidaFidelizaApadece>
  <strConstFechaProgMigracion>gConstFechaProgMigracion</strConstFechaProgMigracion>
  <strConstValidaProgramarFecha>gConstValidaProgramarFecha</strConstValidaProgramarFecha>
  <strConstFidelizaMigracion>gConstFidelizaMigracion</strConstFidelizaMigracion>
  <strConstActivRetencion>gConstActivRetencion</strConstActivRetencion>
  <strConstModFechaProgMigraPlan>gConstModFechaProgMigraPlan</strConstModFechaProgMigraPlan>
  <strConstFidelizaPenalidadMigraPlan>gConstFidelizaPenalidadMigraPlan</strConstFidelizaPenalidadMigraPlan>
  <strConstActDesServicios>ADS</strConstActDesServicios>
  <strConstUsrValFA>FA</strConstUsrValFA>
  <strConstUsrValPF>PF</strConstUsrValPF>
  <strConstUsrValPCHECK>PCHECK</strConstUsrValPCHECK>
  <strConstUsrValACTRETCHK>ACTRETCHK</strConstUsrValACTRETCHK>
  <strConstUsrValPCHECK>PCHECK</strConstUsrValPCHECK>
  <strConstUsrValTN>TN</strConstUsrValTN>
  <strConstDebCrdManual>DEBITO_CREDITO_MANUAL</strConstDebCrdManual>
  <!-- Fin de Constantes de Validacion -->

<!-- Inicio Suspencion/reconeccion -->
<MontoCobroReactivacionServicio>29.75</MontoCobroReactivacionServicio>
<strVariableG>G</strVariableG>  
<strConstCodTraRSServ>12</strConstCodTraRSServ>
<!-- Fin Suspencion/reconeccion -->

  <!-- Inicio Suspencion/Reactivación en Linea de Servicio -->
  <strVariableBloqueado>BLOQUEADO</strVariableBloqueado>
  <strVariableDesbloque>DESBLOQUEADO</strVariableDesbloque>
  <strVariableSuspELinea>Suspensión en Línea</strVariableSuspELinea>
  <!-- Fin Suspencion/Reactivación en Linea de Servicio -->

  <!-- Debito/Credito Manual y Recargas-->
  <strConstBotonRecargar>Recargar</strConstBotonRecargar>
  <strConst8Asteriscos> * * * * * * * * </strConst8Asteriscos>
  <strConst4Asteriscos> * * * * </strConst4Asteriscos>
  <strConstValue2>Value2</strConstValue2>
  <strConstGuardarDebCrdRecarga>Guardar</strConstGuardarDebCrdRecarga>
  <strConstTituloDebCredManual>Debito_CreditoManual</strConstTituloDebCredManual>
  <strConstCREDITODebCrd>CREDITO</strConstCREDITODebCrd>
  <strConstDEBITODebCrd>DEBITO</strConstDEBITODebCrd>
  <strConstCREDITOMinusDebCrd>Crédito</strConstCREDITOMinusDebCrd>
  <strConstDEBITOMinusDebCrd>Débito</strConstDEBITOMinusDebCrd>
  <strConstAjusteDebCred>AJUSTE</strConstAjusteDebCred>
  <strConstAjusteRecargaManDebCred>Ajuste/Recarga Manual</strConstAjusteRecargaManDebCred>
  <strConstDevolucionDebCred>DEVOLUCION</strConstDevolucionDebCred>
  <strConstDevolucionDineroDebCred>Devolución de Dinero</strConstDevolucionDineroDebCred>
  <strConstFidelizDebCred>FIDELIZACION</strConstFidelizDebCred>
  <strConstFidelizMinusDebCred>Fidelización</strConstFidelizMinusDebCred>
  <strConstMSMIlimitado>SMS Ilimitado</strConstMSMIlimitado>
  <strConstBolsaPrepagoSoles>BOLSA PREPAGO SOLES</strConstBolsaPrepagoSoles>
  <!-- Fin Debito/Credito Manual y Recargas-->
    
<!-- Detalle de Llamada-->
  <UltimosMesesDBTO>12</UltimosMesesDBTO>
  <ConfDetalleLlamada>1</ConfDetalleLlamada>
  <UltimosMesesDBTOTOPE>200703</UltimosMesesDBTOTOPE>
  <MensajeErrorTipificacionTransaccion>No se pudo ejecutar la transacción, se debre proceder en forma manual.</MensajeErrorTipificacionTransaccion>
  <CadenaPlanesRestringidosParaConsulta>17,58,59,62,1068,1069,1081,1113,1121</CadenaPlanesRestringidosParaConsulta>
  <TxtTotSaldo>Total Saldo:</TxtTotSaldo>
  <TxtTotConsumo>Total Saldo:</TxtTotConsumo>
  <!-- Fin Detalle de Llamada -->

  <!-- Orden de visita mantenimiento-->
  <CodigoOrdenVisitaMant>GOV</CodigoOrdenVisitaMant>
  <DescAuditVisitMant>VisitaMantenimiento</DescAuditVisitMant>
  <FranjaUno>franja 1</FranjaUno>
  <IdListaTipoServSOT>LIS_TIP_SERV_SOT_HFC</IdListaTipoServSOT>
  <!-- Fin Orden de visita mantenimiento -->

  <!-- Retencion / Cancelacion de Servicio-->
  <CambNumSinCosto>3124</CambNumSinCosto>
  <CostoCambioNumeroConsumer>29.75</CostoCambioNumeroConsumer>
  <SusTempSinCostoReconexion>9999</SusTempSinCostoReconexion>
  <MontoCobroReactivacionServicio>29.75</MontoCobroReactivacionServicio>
  <JerarquiaPerfiles>252|126|114|119|74|75|81|265|70|76|48|267|80|186|275|263|299|57|66|250|357|77|2|63|69|252|8|294|186|67|255|355|185|82|83|270|47|21|22|1|6|261|7|292|62|274|354|61|68|51|5|64|4|3|231|234</JerarquiaPerfiles>
  <Igv>1.18</Igv>
  <Igv2>0.18</Igv2>
  <PColaRetenCanceServ></PColaRetenCanceServ>
  <strValueTipoTrabajoDefecto>448</strValueTipoTrabajoDefecto>
  <strValueMotivoSOTDefecto>150</strValueMotivoSOTDefecto>
  <strFlagInhabTipTraMotSot>1</strFlagInhabTipTraMotSot>
  <!-- Fin Retencion / Cancelacion de Servicio-->
  <!-- Listar Casos Interaccion-->
  <ConstanciaReporte>Constancia Reporte</ConstanciaReporte>
  <ConstanciaReclamoPrimeraInstancia>Constancia Reclamo Primera Instancia</ConstanciaReclamoPrimeraInstancia>
  <ConstanciaReconsideracion>Constancia Reconsideración</ConstanciaReconsideracion>
  <ConstanciaApelacion>Constancia Apelación</ConstanciaApelacion>
  <!-- Fin Listar Casos Interaccion -->
<!-- Constantes de busqueda de Casos -->
  <strConstCaso>Caso</strConstCaso>
  <strConstReporte>Reporte</strConstReporte>
  <strConstReclamo>Reclamo</strConstReclamo>  
  <!-- Fin Constantes de busqueda de Casos -->
  
  <!--E77567 OCC-->
  <MontoTopeAjusteReclamos>200.00</MontoTopeAjusteReclamos>
  <strCobroCasoMas>COBRO (+)</strCobroCasoMas>
  <strCobroCasoMenos>COBRO (-)</strCobroCasoMenos>
  <strAjusteCasoMenos>Ajuste (-)</strAjusteCasoMenos>
  <strDebMenosTres>-3</strDebMenosTres>
  <strDebMenosDos>-2</strDebMenosDos>
  <strMsgDebAutFecPro>Fecha de Proceso</strMsgDebAutFecPro>
  <strMsgDebAutFecApr>Fecha de Aprobación</strMsgDebAutFecApr>
  <strMsgDebAutFecAfi>Fecha de Afiliación</strMsgDebAutFecAfi>
  <strMsgDebAutApr>Aprobado</strMsgDebAutApr>
  <strMsgDebAutPro>Proceso</strMsgDebAutPro>
  <strBuscarDocumento>BUSCAR</strBuscarDocumento>
  <!-- Fin E77567-->

  <!--Titulo de Detalle en Formulario Reclamo -->
  <gStrTituloFormularioReclamo>CLARO HOGAR</gStrTituloFormularioReclamo>
<!-- Fecha de inicio consulta de peticiones-->
  <gConstFecIniPeticiones>01/01/2006</gConstFecIniPeticiones>
  <strFechaAVM>04/09/2010</strFechaAVM>
  <!-- Fin Fecha de inicio consulta de peticiones-->
   
  <!-- Interacciones -->
  <gConstMsgTitleCustomer> Customer ID : </gConstMsgTitleCustomer>
  <gConstMsgTitleVicio> Nro. Llamada Vicio : </gConstMsgTitleVicio>
  <gConstFaseReporte>Reporte</gConstFaseReporte>
  <gConstFaseReclamoInstancia>Reclamo en primera instancia</gConstFaseReclamoInstancia>
  <gConstFaseRecursoConsideracion>Recurso de reconsideración</gConstFaseRecursoConsideracion>
  <gConstFaseRecursoApelacion>Recurso de apelación</gConstFaseRecursoApelacion>
  <gConstFaseNoProcisado>No Precisado</gConstFaseNoProcisado>
  <strConstAgregarMD>AgregarMD</strConstAgregarMD>
  <strConstEliminarMD>EliminarMD</strConstEliminarMD>
  <strConstEliminarMGR>EliminarMGR</strConstEliminarMGR>
  <strConstGeneraSOT>GeneraSOT</strConstGeneraSOT>
  <strConstFechaNula>01/01/1900</strConstFechaNula>
  <strConstGeneraSOTAsociados>GeneraSOT</strConstGeneraSOTAsociados>
  <strConstReagendarSOT>ReagendarSOT</strConstReagendarSOT>
  <strConstAnularSOT>AnularSOT</strConstAnularSOT>
  <strConstCodAnulaSOT>13</strConstCodAnulaSOT>
  <!-- Fin de Interacciones -->

 <!-- Inicio Suspencion/Reactivacion Servicio -->
  <gstrTipoReasonAPCSRS>60</gstrTipoReasonAPCSRS>
  <gstrTipoReasonFRASRS>75</gstrTipoReasonFRASRS>
  <gstrCodLiMotSRS>SUSP_REACT_SERVICIOS</gstrCodLiMotSRS>
  <gstrCadSusSEnLi>Suspensión del Servicio en línea</gstrCadSusSEnLi>
  <gstrCadReaSEnLi>Reactivación del Servicio en línea</gstrCadReaSEnLi>
  <!-- Fin Suspencion/Reactivacion Servicio -->
  
  <!-- Inicio Suspencion/Reactivacion Servicio Temporal -->
  <intMinDiasSuspensionServ>15</intMinDiasSuspensionServ>
  <!-- Fin Suspencion/Reactivacion Servicio Temporal-->
  
  <!-- Afiliación Pagos y Cobranzas-->
  <strConstPendiente>Pendiente</strConstPendiente>
  <strConstEnProceso>Proceso</strConstEnProceso>
  <strConstAprobado>Aprobado</strConstAprobado>
  <strConstRechazado>Rechazado</strConstRechazado>
  <strConstDesafiliado>Desafiliado</strConstDesafiliado>
  <!-- Fin Afiliación Pagos y Cobranzas-->

  <!-- Traslado Interno-->
  <ValueNoTieneTipoVia>CA</ValueNoTieneTipoVia>
  <gConstTipTraTI>418</gConstTipTraTI>
  <gConstTipTraTE>412</gConstTipTraTE>
  <gConstIdListMontTIE>MONTO_TIE_HFC</gConstIdListMontTIE>
  <gConstIndTI>MTI</gConstIndTI>
  <gConstIndTE1P>MTE1P</gConstIndTE1P>
  <gConstIndTE2P>MTE2P</gConstIndTE2P>
  <gConstIndTE3P>MTE3P</gConstIndTE3P>
  <!-- Fin Traslado Interno-->

  <!-- Constantes numéricas -->
  <gConstNumero1>1</gConstNumero1>
  <gConstNumero2>2</gConstNumero2>
  <!-- Fin de Constantes numéricas -->
  
  <!-- Montos en Disputa-->
  <strConceptosExcluidosValidacion>Claroservicios</strConceptosExcluidosValidacion>
  <!-- Fin Montos en Disputa-->
  
  <!-- Asocia / Desasocia Equipos -->
  <strConstTelefFija>Telefonía Fija</strConstTelefFija>
  <strConstTelefFijaCOD>TLF</strConstTelefFijaCOD>
  <strConstClaroTV>Claro TV</strConstClaroTV>
  <strConstClaroTVCOD>CTV</strConstClaroTVCOD>
  <strConstIntern>Internet Fijo</strConstIntern>
  <strConstInternCOD>INT</strConstInternCOD>
  <strConstCodOCCADEqui>1</strConstCodOCCADEqui>
  <!-- Fin Asocia / Desasocia Equipos-->
  
  <!-- Inicio: Validación de Estado de Contrato -->
  <strEstadoContratoActivo>Activo</strEstadoContratoActivo>
  <strEstadoContratoInactivo>Desactivo</strEstadoContratoInactivo>
  <strEstadoContratoSuspendido>Suspendido</strEstadoContratoSuspendido>
  <strEstadoContratoReservado>Reservado</strEstadoContratoReservado>
  <!-- Fin: Validación de Estado de Contrato -->
  
  <!-- Inicio: Nombres Menú Personalizado-->
  <strIndicadorNombreMenuCamNum>Número</strIndicadorNombreMenuCamNum>
  <strNombreMenuCamNum>Cambio de Número</strNombreMenuCamNum>
  <strIndicadorNombreMenuConsOCC>Consulta OC</strIndicadorNombreMenuConsOCC>
  <strNombreMenuConsOCC>Consulta OCC</strNombreMenuConsOCC>
  <strIndicadorNombreMenuAsoDesaEquip>Activación/Desactivación</strIndicadorNombreMenuAsoDesaEquip>
  <strNombreMenuConsAsoDesaEquip>Asociación / Desasociación de Equipos</strNombreMenuConsAsoDesaEquip>
  <strIndicadorNombreMenuAsoDesaServ>Servicios</strIndicadorNombreMenuAsoDesaServ>
  <strNombreMenuConsAsoDesaServ>Activación / Desactivación de Servicios Adicionales</strNombreMenuConsAsoDesaServ>
  <!-- Fin: Nombres Menú Personalizado-->
  
  <!-- Inicio Datos Cliente-->
  <strFlagAccesoInteraccionesPerfil>1</strFlagAccesoInteraccionesPerfil>
  <!-- Fin Datos Cliente-->
  <!-- Mensaje Temporal de Bloqueo: Configurar 1 para bloquear -->
  <flagRestringirAccesoTemporalSRASC>0</flagRestringirAccesoTemporalSRASC>
  <flagRestringirAccesoTemporalSRS>0</flagRestringirAccesoTemporalSRS>
  <flagRestringirAccesoTemporalCN>0</flagRestringirAccesoTemporalCN>
  <flagRestringirAccesoTemporalCR>0</flagRestringirAccesoTemporalCR>
  <flagRestringirAccesoTemporalCT>0</flagRestringirAccesoTemporalCT>
  <flagRestringirAccesoTemporalMP>0</flagRestringirAccesoTemporalMP>
  <flagRestringirAccesoTemporalTIE>0</flagRestringirAccesoTemporalTIE>
  <flagRestringirAccesoTemporalADE>0</flagRestringirAccesoTemporalADE>

  <!-- Inicio: Código de Configuración Registro de Ajustes HFC -->
  <strCodigoConfiguracionRegistroAjustesHFC>27</strCodigoConfiguracionRegistroAjustesHFC>
  <!-- Fin: Código de Configuración Registro de Ajustes HFC -->
  
  <!-- Inicio: Código de Configuración Registro de Ajustes HFC -->
  <strCodigoConfiguracionRegistroAjustesHFC>27</strCodigoConfiguracionRegistroAjustesHFC>
  <!-- Fin: Código de Configuración Registro de Ajustes HFC -->

  <!-- INICIO: Instalacion Deco-->
  <strDescActivo>Activo</strDescActivo> 
  <DecoAdicionalAudit>DecoAdicional</DecoAdicionalAudit>
  <!-- FIN: Instalacion Deco-->

  <!-- INICIO: INCIDENCIA 130062-->
  <intDiasMinSuspension>15</intDiasMinSuspension>
  <intDiasMaxSuspension>60</intDiasMaxSuspension>
  <intDiasMinRetencionSuspension>15</intDiasMinRetencionSuspension>
  <intDiasMaxRetencionSuspension>90</intDiasMaxRetencionSuspension>
  <!-- FIN: INCIDENCIA 130062 -->
<!--Valida Número Movistar para Triados -->
  <MensajeCobrarTriosCambioPostpago>Se facturará la cantidad de S/. {0}, dado que no es el primer cambio de números frecuentes</MensajeCobrarTriosCambioPostpago>
  <MensajeNOCobrarTriosCambioPostpago>No se cobrará por esta operación dado que es el primer cambio de números frecuentes del cliente</MensajeNOCobrarTriosCambioPostpago>
  <MensajeNOCPCobrarTriosCambioPostpago>No se cobrará por esta operación de cambio de números frecuentes del cliente</MensajeNOCPCobrarTriosCambioPostpago>
  <MensajeCobrarTriosCambioPostpagoN>Estimado usuario, tener en cuenta que se facturará la cantidad de S/. {0}, sólo en caso se haya realizado una modificación de sus números frecuentes actuales</MensajeCobrarTriosCambioPostpagoN>

  <!-- INICIO: Topes Consumo-->   
  <strDescSinTope>Ilimitado</strDescSinTope>
  <strControlConsumo>Control Consumo de Adicionales</strControlConsumo>
  <strTopeCero>Tope de Consumo Cero</strTopeCero>
  <strTopeTreintaAdic>Tope de Consumo 30</strTopeTreintaAdic>
  <strSinTope>Sin Tope</strSinTope>
  <strValueControlConsumo>1236</strValueControlConsumo>
  <strValueTopeCero>1234</strValueTopeCero>
  <strValueTopeTreintaAdic>1235</strValueTopeTreintaAdic>
  <strValueSinTope>1</strValueSinTope>
  <strAccionAct>Activar</strAccionAct>
  <strAccionDesact>Desactivar</strAccionDesact>
  <TopeConsumoAudit>TopeConsumo</TopeConsumoAudit>
  <srtCodServicioTope>1236</srtCodServicioTope>   <!--Este codigo es variable-->
  <srtMontoTopeCero>0</srtMontoTopeCero>
  <strMontoTopeTreinta>30</strMontoTopeTreinta>

  <strConstCodOCCTope>57</strConstCodOCCTope> 
  
  <strTitConsultaTopes>Histórico Control de Consumo</strTitConsultaTopes> 

  <!-- FIN: Topes Consumo-->
  <!-- INI MEJORAS FASE I-->
  <strConstRegistrarCACDAC>RegistrarCACDAC</strConstRegistrarCACDAC>
  <strMensajeNoRegistros>No se encontraron registros.</strMensajeNoRegistros>
  <!-- FIN MEJORAS FASE I-->

  <strDiasConsultaCapacidad>1</strDiasConsultaCapacidad>
  <strCalcDuracion>0</strCalcDuracion>
  <strCalcDuracionEspec>0</strCalcDuracionEspec>
  <strCalcTiempoViaje>0</strCalcTiempoViaje>
  <strCalcTiempoViajeEspec>0</strCalcTiempoViajeEspec>
  <strCalcHabTrabajo>1</strCalcHabTrabajo>
  <strCalcHabTrabajoEspec>1</strCalcHabTrabajoEspec>
  <strObtenerZonaUbi>1</strObtenerZonaUbi>
  <strObtenerZonaUbiEspec>1</strObtenerZonaUbiEspec>
  <strCodigoUbicacion>digetel_E01_HFC_I_M_P_LIM_LIMA</strCodigoUbicacion>
  <strCodigoHabilidad>HFCM</strCodigoHabilidad>
  <strCampActZonaCode>XA_Zone</strCampActZonaCode>
  <strCampActMapaCode>XA_Map</strCampActMapaCode>
  <strCampActSubtipoCode>XA_WorkOrderSubtype</strCampActSubtipoCode>
  <strDisponMinima>50</strDisponMinima>
  
  <strFlagInhabTipTraMotSotLTE>0</strFlagInhabTipTraMotSotLTE>
  <strValueTipoTrabajoDefectoLTE>832</strValueTipoTrabajoDefectoLTE>
  <strValueMotivoSOTDefectoLTE>150</strValueMotivoSOTDefectoLTE>
  <strValueTipoTrabajoBajaTOTAL>408</strValueTipoTrabajoBajaTOTAL>


</configuration>