@{
    Layout = null;
}

<div id="INTRetentionCancelServices" class="container-fluid">
    <div class="scrollbudy">
        <div class="col-sm-3">
            <div id="DataCustomer" class="panel-group" role="tablist" aria-multiselectable="true">
                <div class="panel claro-panel-primary">
                    <div id="customerDataHead" role="tab" class="panel-heading">
                        <span class="glyphicon glyphicon-user"></span>
                        <a data-toggle="collapse" aria-expanded="true" data-parent="#DataCustomer" aria-controls="customerDataCollapse" class="collapsed transaction-ref-color"> Datos del Cliente</a>
                    </div>
                    <div class="panel-body" id="customerDataCollapse" role="tabpanel" aria-labelledby="customerDataHead">
                        <table class="table table-condensed">
                            <tbody>
                                <tr>
                                    <td class="col-sm-6"><label class="control-label">Contrato:</label></td>
                                    <td class="col-sm-6">
                                        <label id="lblContrato"></label>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="col-sm-6"><label class="control-label">Customer ID:</label></td>
                                    <td class="col-sm-6"><label id="lblCustomerID"></label></td>
                                </tr>
                                <tr>
                                    <td class="col-sm-6"><label class="control-label">Tipo de Cliente:</label></td>
                                    <td class="col-sm-6"><label id="lblTipoCliente"></label></td>
                                </tr>
                                <tr>
                                    <td class="col-sm-6"><label class="control-label">Cliente:</label></td>
                                    <td class="col-sm-6"><label id="lblCliente"></label></td>
                                </tr>
                                <tr>
                                    <td class="col-sm-6"><label class="control-label">Contacto:</label></td>
                                    <td class="col-sm-6"><label id="lblContacto"></label></td>
                                </tr>
                                <tr>
                                    <td class="col-sm-6"><label class="control-label">DNI/RUC:</label></td>
                                    <td class="col-sm-6"><label id="lblDNI_RUC"></label></td>
                                </tr>
                                <tr>
                                    <td class="col-sm-6"><label class="control-label">Representante Legal:</label></td>
                                    <td class="col-sm-6"><label id="lblRepren_Legal"></label></td>
                                </tr>
                                <tr>
                                    <td class="col-sm-6"><label class="control-label">Plan Actual:</label></td>
                                    <td><label id="lblPlan"></label></td>
                                </tr>
                                <tr>
                                    <td class="col-sm-6"><label class="control-label">Fecha Activación:</label></td>
                                    <td class="col-sm-6"><label id="lblFechaActivacion"></label></td>
                                </tr>
                                <tr>
                                    <td class="col-sm-6"><label class="control-label">Ciclo de Facturación:</label></td>
                                    <td class="col-sm-6"><label id="lblCicloFact"></label> </td>
                                </tr>
                                <tr>
                                    <td class="col-sm-6"><label class="control-label">Límite Crédito:</label></td>
                                    <td class="col-sm-6"><label id="lblLimiteCred"></label> </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div id="addressDataHead" role="tab" class="panel-heading">
                        <span class="glyphicon glyphicon-home"></span>
                        <a data-toggle="collapse" href="#addressDataCollapse" aria-expanded="false" data-parent="#DataCustomer" aria-controls="addressDataCollapse" class="collapsed transaction-ref-color"> Dirección de Facturación</a>
                    </div>
                    <div class="panel-body panel-collapse collapse" id="addressDataCollapse" role="tabpanel" aria-labelledby="addressDataHead">
                        <table class="table table-condensed">
                            <tr>
                                <td class="col-sm-6"><label class="control-label">Dirección:</label></td>
                                <td class="col-sm-6"><label id="lblDireccion"></label></td>
                            </tr>
                            <tr>
                                <td class="col-sm-6"><label class="control-label">Referencia:</label></td>
                                <td class="col-sm-6"><label id="lblNotasDirec"></label></td>
                            </tr>
                            <tr>
                                <td class="col-sm-6"><label class="control-label">Pais:</label></td>
                                <td class="col-sm-6"><label id="lblPais"></label></td>
                            </tr>
                            <tr>
                                <td class="col-sm-6"><label class="control-label">Departamento:</label></td>
                                <td class="col-sm-6"><label id="lblDepartamento"></label></td>
                            </tr>
                            <tr>
                                <td class="col-sm-6"><label class="control-label">Provincia:</label></td>
                                <td class="col-sm-6"><label id="lblProvincia"></label></td>
                            </tr>
                            <tr>
                                <td class="col-sm-6"><label class="control-label">Distrito:</label></td>
                                <td class="col-sm-6"><label id="lblDistrito"></label></td>
                            </tr>
                            <tr>
                                <td class="col-sm-6"><label class="control-label">Código Ubigeo:</label></td>
                                <td class="col-sm-6"><label id="lblCodUbigeo"></label></td>
                            </tr>
                        </table>
                    </div>
                    <div id="businessRulesHead" role="tab" class="panel-heading">
                        <span class="glyphicon glyphicon-th-list"></span>
                        <a data-toggle="collapse" href="#businessRulesCollapse" aria-expanded="false" data-parent="#DataCustomer" aria-controls="businessRulesCollapse" class="collapsed transaction-ref-color"> Reglas de Atención</a>
                    </div>
                    <div class="panel-body panel-collapse collapse" id="businessRulesCollapse" role="tabpanel" aria-labelledby="businessRulesHead">
                        <div id="divReglas">

                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-sm-9">
            <div class="row">
                <div class="transaction-content">

                    <div class="tab-content">
                        <div id="tabProducts">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <div class="form-horizontal" id="tDatosMigracionPlan_Post">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="form-group">
                                                    <label for="idTDApadeceDes" class="col-sm-2 control-label" style="text-align:left">Tipo de Servicio:</label>
                                                    <div class="col-sm-2">
                                                        <label class="radio-inline">
                                                            <input type="radio" name="Fidelize" id="rdbRetenido" value="1"> <strong> Retenido</strong>
                                                        </label>
                                                    </div>
                                                    <div class="col-sm-2">
                                                        <label class="radio-inline">
                                                            <input type="radio" name="Fidelize" id="rdbNoRetenido" value="2"> <strong> No Retenido</strong>
                                                        </label>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="progress transaction-bar">
                                            <div id="prog" class="progress-bar progress-bar-info">
                                                
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="form-group">

                                                    <label for="idTDApadeceDes" class="col-sm-2 control-label" style="text-align:left">Reintegro (S/.) Inc IGV: </label>
                                                    <div class="col-sm-2">
                                                        <input id="txtPenalidad" class="form-control input-sm text-right" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="MotiveCancel" class="form-group">
                                            <label for="txtStartHLR" class="col-sm-2 control-label" style="text-align:left">Motivo de Cancelación:</label>
                                            <div class="col-sm-3">
                                                <select id="cboMotCancelacion" class="form-control input-sm"></select>
                                            </div>
                                            <label for="txtStartHLR" class="col-sm-2 control-label" style="text-align:left">Total Inversión (S/.):</label>
                                            <div class="col-sm-2">
                                                <input type="text" id="txtTotInversion" class="form-control input-sm text-right" />
                                            </div>
                                        </div>

                                        <div class="form-group" id="divSubMotive" style="display: none">
                                            <label for="txtStartHLR" class="col-sm-2 control-label" style="text-align:left">Sub Motivo de Cancelación:</label>
                                            <div class="col-sm-3">
                                                <select id="cboSubMotive" class="form-control input-sm"></select>
                                            </div>
                                        </div>
                                        <div id="divAccion" class="form-group">
                                            <label for="txtStartHLR" class="col-sm-2 control-label" style="text-align:left">Acción:</label>
                                            <div class="col-sm-3">
                                                <select id="cboAccion" class="form-control input-sm"></select>
                                            </div>
                                        </div>
                                        <div id="divFlatRetencion">
                                         

                                            <div class="form-group">
                                                <label class="col-sm-2 control-label" style="text-align:left">Fecha Compromiso(*):</label>
                                                <div class=" col-sm-3">
                                                    <div class="input-group input-group-sm">
                                                        <input type="text" class="form-control input-sm" id="txtDateCommitment" placeholder="DD/MM/AAAA">
                                                        <label id="txtcalendartxtDateCommitment" class="btn transaction-button input-group-addon" for="txtDateCommitment">
                                                            <span class="glyphicon glyphicon-calendar"></span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>


                                        <div class="form-group">
                                            <label class="col-sm-2 control-label" style="text-align:left">Envío por E-mail:</label>

                                            <div class="col-sm-1">
                                                <div class="checkbox">
                                                    <label>
                                                        <input id="chkEmail" type="checkbox" value="">

                                                    </label>
                                                </div>

                                            </div>
                                            <div class="col-sm-4">
                                                <input type="text" class="form-control input-sm" id="txtEmail" placeholder="Correo Electrónico" style="display: none" />
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="txtStartHLR" class="col-sm-2 control-label" style="text-align:left">Punto de Atención:</label>
                                            <div class="col-sm-3">
                                                <select class="form-control input-sm" id="cboCACDAC"></select>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-2 control-label" style="text-align:left">Notas:</label>
                                            <div class="col-sm-7">
                                                <textarea id="txtNote" class="form-control" placeholder="Agregar Notas" rows="4"></textarea>
                                            </div>
                                        </div>

                                        <div class="col-sm-2">
                                        </div>

                                        <div class="form-group" id="divCaso">
                                            <div class="col-sm-2">
                                                <label class="radio-inline">
                                                    <input type="radio" name="rdbNoaplica" id="rdbAplica" value="1"><strong> Aplica Caso</strong>
                                                </label>
                                            </div>
                                            <div class="col-sm-2">
                                                <label class="radio-inline">
                                                    <input type="radio" name="rdbNoaplica" id="rdbNoAplica" value="2"><strong>No Aplica Caso</strong>
                                                </label>
                                            </div>
                                        </div>

                                    </div>

                                    <center>
                                       
                                        <button id="btnGuardar" type="button" class="btn transaction-button"><span class="glyphicon glyphicon-floppy-disk"></span> Guardar</button>
                                        <button id="btnCerrar" type="button" class="btn transaction-button"><span class="glyphicon glyphicon-home"></span> Cerrar</button>
                                        <button id="btnConstancia" type="button" class="btn transaction-button"><span class="glyphicon glyphicon-list-alt"></span> Constancia</button>
                                    </center>
                                    <br />
                                </div>
                            </div>
                        </div>

                    </div>

                    <div id="divErrorAlert" class="alert alert-transaction alert-danger" role="alert">
                        <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <strong><span id="lblErrorMessage"></span></strong>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div id="myModalLoad" style="display:none;">
        <span> <img src="~/Images/loading2.gif" width="25" height="25" />  Cargando ....</span>
    </div>
</div>
<input id="hidOpcion" type="hidden" name="hidOpcion" />
<input id="hidCodOpcion" type="hidden" name="hidCodOpcion" />
<input id="hidAccion" type="hidden" name="hidAccion" />

@Scripts.Render("~/bundles/Content/Lib/BloqueoF12")
@System.Web.Optimization.Scripts.Render("~/bundles/IFITransactions/RetentionCancelServices")
@System.Web.Optimization.Scripts.Render("~/bundles/IFITransactions/ReadRecordPDF/ReadRecord")
@System.Web.Optimization.Scripts.Render("~/bundles/IFITransactions/Auth/AuthUser")