@{
    Layout = null;
}

<div id="QSecurity" class="container-fluid">
    <div class="scrollbudy">

        <div class="col-sm-12">
            <div id="tabChangePhoneNumber" role="tabpanel" percent="0%">
                <div class="panel claro-panel-primary">
                    <div class="panel-heading">
                       <label id="lblTypeCustomer"></label>
                    </div>
                    <div class="panel-body">

                        <div class="col-md-12">


                            <form id="formGen" name="formGen">
                                <div class="panel panel-default ">
                                    <div class="row">
                                        <div class="col-md-12" id="ContenedorPreguntas">





                                        </div>
                                    </div>
                                </div>

                            </form>

                        </div>




                    </div>
                </div>
            </div>
        </div>

    </div>
    <br />

</div>
@Scripts.Render("~/bundles/Content/Lib/BloqueoF12")
@System.Web.Optimization.Scripts.Render("~/bundles/IFITransactions/QuestionSecurity")