<div id="modal-content">
    <div id="ChooseCoreServicesByPlan">
        <div class="panel panel-group claro-panel-primary">
            <div class="panel-heading" role="tab" style="display:none;">
                Cable
            </div>
            <div class="panel-body" style="display:none;">
                <table id="tblChooseCoreServicesByPlanCable" class="table table-hover claro-modal-tabla table-bordered">
                    <thead>
                        <tr class="transac-table-header">
                            <th class="col-md-1"></th>
                            <th class="col-md-9">Nombre del Servicio</th>
                            <th class="col-md-2" data-toggle="tooltip" title="(S/.) Incluido IGV">Cargo Fijo S/ (Inc. IGV)</th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
            
            <div class="panel-heading" role="tab">
                Internet
            </div>
            <div class="panel-body">
                <table id="tblChooseCoreServicesByPlanInternet" class="table table-hover claro-modal-tabla table-bordered">
                    <thead>
                        <tr class="transac-table-header">
                            <th class="col-md-1"></th>
                            <th class="col-md-9">Nombre del Servicio</th>
                            <th class="col-md-2" data-toggle="tooltip" title="(S/.) Incluido IGV">Cargo Fijo S/ (Inc. IGV)</th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
            <div class="panel-heading" role="tab" style="display:none;">
                Telefonía
            </div>
            <div class="panel-body" style="display:none;">
                <table id="tblChooseCoreServicesByPlanPhone" class="table table-hover claro-modal-tabla table-bordered">
                    <thead>
                        <tr class="transac-table-header">
                            <th class="col-md-1"></th>
                            <th class="col-md-9">Nombre del Servicio</th>
                            <th class="col-md-2" data-toggle="tooltip" title="(S/.) Incluido IGV">Cargo Fijo S/ (Inc. IGV)</th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>

                    </thead>
                    <tbody></tbody>
                </table>
            </div>
            
        </div>
    </div>
</div>
<script src="~/Areas/IFITransactions/Scripts/PlanMigration/ChooseCoreServicesByPlan.js"></script>
@Scripts.Render("~/bundles/Content/Lib/BloqueoF12")