<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Claro.SIACU.ProxyService.IFI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="TransaccionesInternetLTEPortTypeSOAP11Binding" />
                <binding name="ConsultaSeguridadSOAP" />
                <binding name="ValidarCredencialesSUWSSB11Binding" />
                <binding name="ConsultaIGVWSPortTypeSOAP11Binding" />
                <binding name="ebsServiciosHFCSoapPort11Binding" />
                <binding name="ServiciosLTEPortTypeSOAP11Binding" />
                <binding name="clienteHFCPortTypeSOAP11Binding" />
                <binding name="clienteLTEPortTypeSOAP11Binding" />
                <binding name="SIACPostpagoConsultasWSServiceSoapBinding" />
                <binding name="EbsAuditoriaServiceSoapBinding" />
                <binding name="PCRFWSBindingSOAP11" />
                <binding name="SIACPostpagoTxWSServiceSoapBinding" />
                <binding name="TransaccionOCCSOAP" />
                <binding name="GestionAcuerdoWSPortTypeSOAP11Binding" />
                <binding name="BloqueoDesbloqueoIMEIWSServiceSoapBinding" />
                <binding name="svcOnBaseClaroCargaSoap" />
                <binding name="TransaccionInteraccionesSOAP" />
                <binding name="BloqueoDesbloqueoLineaIFIPortTypeSOAP11Binding" />
                <binding name="BloqueoDesbloqueoLineaIFIPortTypeSOAP11Binding1" />
            </basicHttpBinding>
            <customBinding>
                <binding name="TransaccionesInternetLTEPortTypeSOAP12Binding">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
                <binding name="ServiciosLTEPortTypeSOAP12Binding">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
                <binding name="clienteLTEPortTypeSOAP12Binding">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
                <binding name="PCRFWSBindingSOAP12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
                <binding name="GestionAcuerdoWSPortTypeSOAP12Binding">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
                <binding name="BloqueoDesbloqueoLineaIFIPortTypeSOAP12Binding">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
                <binding name="BloqueoDesbloqueoLineaIFIPortTypeSOAP12Binding1">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://172.17.26.44:20000/TransaccionesInternetLTEWS/ebstransaccionesinternetlteSB11"
                binding="basicHttpBinding" bindingConfiguration="TransaccionesInternetLTEPortTypeSOAP11Binding"
                contract="TransaccionesInternetLTEWS.TransaccionesInternetLTEWSPortType"
                name="ebstransaccionesinternetlteSB11" />
            <endpoint address="http://172.17.26.44:20000/TransaccionesInternetLTEWS/ebstransaccionesinternetlteSB12"
                binding="customBinding" bindingConfiguration="TransaccionesInternetLTEPortTypeSOAP12Binding"
                contract="TransaccionesInternetLTEWS.TransaccionesInternetLTEWSPortType"
                name="ebstransaccionesinternetlteSB12" />
            <endpoint address="http://172.19.74.141:8901/Utilities_Services/Seguridad/Inquiry/ConsultaSeguridad"
                binding="basicHttpBinding" bindingConfiguration="ConsultaSeguridadSOAP"
                contract="SIACUConsultaSeguridad.ConsultaSeguridad" name="ConsultaSeguridadSOAP" />
            <endpoint address="http://limdeseaiv35.tim.com.pe:8909/ValidarCredencialesSUWS/ValidarCredencialesSUWSSB11"
                binding="basicHttpBinding" bindingConfiguration="ValidarCredencialesSUWSSB11Binding"
                contract="RedirectWS.ValidarCredencialesSUWSPortType" name="ValidarCredencialesSUWSSB11" />
            <endpoint address="http://172.19.74.189:8901/PRS_ConsultaIGV/proxy_services/ConsultaIGV"
                binding="basicHttpBinding" bindingConfiguration="ConsultaIGVWSPortTypeSOAP11Binding"
                contract="SIACU.ConsultIGV.ConsultaIGVWSPortType" name="ebsConsultaIGVSB11" />
            <endpoint address="http://172.19.74.68:8909/ServiciosHFCWS/ebsServiciosHFCSB11"
                binding="basicHttpBinding" bindingConfiguration="ebsServiciosHFCSoapPort11Binding"
                contract="SIACFixed.ServAddHFC.ebsServiciosHFCSB11" name="ebsServiciosHFCSoapPort11" />
            <endpoint address="http://limdeseaiv28.tim.com.pe:8909/ServiciosLTE/ServiciosLTEWSSB11"
                binding="basicHttpBinding" bindingConfiguration="ServiciosLTEPortTypeSOAP11Binding"
                contract="SIACFixed.ServAddLTE.ServiciosLTEPortType" name="ebsServiciosLTESB11" />
            <endpoint address="http://limdeseaiv28.tim.com.pe:8909/ServiciosLTE/ServiciosLTEWSSB12"
                binding="customBinding" bindingConfiguration="ServiciosLTEPortTypeSOAP12Binding"
                contract="SIACFixed.ServAddLTE.ServiciosLTEPortType" name="ebsServiciosLTESB12" />
            <endpoint address="http://172.19.74.68:8909/ClienteHFC/ebsClienteHFC"
                binding="basicHttpBinding" bindingConfiguration="clienteHFCPortTypeSOAP11Binding"
                contract="SIACFixed.CustomerHFC.clienteHFCPortType" name="ebsClienteHFC" />
            <endpoint address="http://limdeseaiv25.tim.com.pe:8903/ClienteLTEWS/ebsClientesLTESB11"
                binding="basicHttpBinding" bindingConfiguration="clienteLTEPortTypeSOAP11Binding"
                contract="SIACFixed.CustomerLTE.clienteLTEPortType" name="ebsClienteLTESOAP11Port" />
            <endpoint address="http://limdeseaiv25.tim.com.pe:8903/ClienteLTEWS/ebsClientesLTESB12"
                binding="customBinding" bindingConfiguration="clienteLTEPortTypeSOAP12Binding"
                contract="SIACFixed.CustomerLTE.clienteLTEPortType" name="ebsClienteLTESOAP12Port" />
            <endpoint address="http://limdeseaiv22.tim.com.pe:8909/SIACPostpagoWS/SIACPostpagoConsultasWS"
                binding="basicHttpBinding" bindingConfiguration="SIACPostpagoConsultasWSServiceSoapBinding"
                contract="SIACPost.Customer.SIACPostpagoConsultasWS" name="SIACPostpagoConsultasWSSoapPort" />
            <endpoint address="http://limdeseaiv22.tim.com.pe:8909/AuditoriaWS/EbsAuditoria"
                binding="basicHttpBinding" bindingConfiguration="EbsAuditoriaServiceSoapBinding"
                contract="SIACSecurity.Permissions.EbsAuditoria" name="EbsAuditoriaSoapPort" />
            <endpoint address="http://limdeseaiv25.tim.com.pe:8903/PCRFConnectorWS/PCRFWSSOAP11Port"
                binding="basicHttpBinding" bindingConfiguration="PCRFWSBindingSOAP11"
                contract="SIACFixed.PCRFConnectorLTE.PCRFWSPortTypeSOAP11"
                name="PCRFWSSOAP11Port" />
            <endpoint address="http://limdeseaiv25.tim.com.pe:8903/PCRFConnectorWS/PCRFWSSOAP12Port"
                binding="customBinding" bindingConfiguration="PCRFWSBindingSOAP12"
                contract="SIACFixed.PCRFConnectorLTE.PCRFWSPortTypeSOAP12"
                name="PCRFWSSOAP12Port" />
            <endpoint address="http://limdeseaiv22.tim.com.pe:8909/SIACPostpagoWS/SIACPostpagoTxWS"
                binding="basicHttpBinding" bindingConfiguration="SIACPostpagoTxWSServiceSoapBinding"
                contract="SIACU.TriacionPostpagoWS.SIACPostpagoTxWS" name="SIACPostpagoTxWSSoapPort" />
            <endpoint address="http://limdesosbv05.tim.com.pe:8909/Billing_Services/BSCS/Transaction/TransaccionOCC"
                binding="basicHttpBinding" bindingConfiguration="TransaccionOCCSOAP"
                contract="SIACU.BillingService.TransaccionOCCPort" name="TransaccionOCCSOAP" />
            <endpoint address="http://limdeseaiv28.tim.com.pe:8909/GestionAcuerdoWS/ebsGestionAcuerdoSB11"
                binding="basicHttpBinding" bindingConfiguration="GestionAcuerdoWSPortTypeSOAP11Binding"
                contract="SIACU.GestionAcuerdoIFI.GestionAcuerdoWSPortType"
                name="ebsGestionAcuerdoSB11" />
            <endpoint address="http://limdeseaiv28.tim.com.pe:8909/GestionAcuerdoWS/ebsGestionAcuerdoSB12"
                binding="customBinding" bindingConfiguration="GestionAcuerdoWSPortTypeSOAP12Binding"
                contract="SIACU.GestionAcuerdoIFI.GestionAcuerdoWSPortType"
                name="ebsGestionAcuerdoSB12" />
            <endpoint address="http://limdeseaiv22.tim.com.pe:8909/HLRBloqueoDesbloqueoIMEIWS/BloqueoDesbloqueoIMEIWS"
                binding="basicHttpBinding" bindingConfiguration="BloqueoDesbloqueoIMEIWSServiceSoapBinding"
                contract="SIACU.LockEquipment.BloqueoDesbloqueoIMEIWS" name="BloqueoDesbloqueoIMEIWSSoapPort" />
            <endpoint address="http://172.19.73.241/wsonbasecarga/svcOnBaseClaroCarga.asmx"
                binding="basicHttpBinding" bindingConfiguration="svcOnBaseClaroCargaSoap"
                contract="SIACU.OnBaseLoadDocumentIFI.svcOnBaseClaroCargaSoap"
                name="svcOnBaseClaroCargaSoap" />
            <endpoint address="http://limdeseaiv11.tim.com.pe:8909/CRM_Services/Clarify/Transaction/TransaccionInteracciones"
                binding="basicHttpBinding" bindingConfiguration="TransaccionInteraccionesSOAP"
                contract="SIACU.IFI.TransaccionInteracciones.TransaccionInteracciones"
                name="TransaccionInteraccionesSOAP" />
            <endpoint address="http://172.17.26.44:20000/BloqueoDesbloqueoLineaIFI/ebsBloqueoDesbloqueoLineaIFISB11Port"
                binding="basicHttpBinding" bindingConfiguration="BloqueoDesbloqueoLineaIFIPortTypeSOAP11Binding"
                contract="SIACU.IFI.LockLine.BloqueoDesbloqueoLineaIFIPortType"
                name="ebsBloqueoDesbloqueoLineaIFISB11Port" />
            <endpoint address="http://172.17.26.44:20000/BloqueoDesbloqueoLineaIFI/ebsBloqueoDesbloqueoLineaIFISB12Port"
                binding="customBinding" bindingConfiguration="BloqueoDesbloqueoLineaIFIPortTypeSOAP12Binding"
                contract="SIACU.IFI.LockLine.BloqueoDesbloqueoLineaIFIPortType"
                name="ebsBloqueoDesbloqueoLineaIFISB12Port" />
            <endpoint address="http://172.17.26.44:20000/BloqueoDesbloqueoLineaIFI/ebsBloqueoDesbloqueoLineaIFISB11Port"
                binding="basicHttpBinding" bindingConfiguration="BloqueoDesbloqueoLineaIFIPortTypeSOAP11Binding1"
                contract="SIACU.IFI.UnlockLine.BloqueoDesbloqueoLineaIFIPortType"
                name="ebsBloqueoDesbloqueoLineaIFISB11Port1" />
            <endpoint address="http://172.17.26.44:20000/BloqueoDesbloqueoLineaIFI/ebsBloqueoDesbloqueoLineaIFISB12Port"
                binding="customBinding" bindingConfiguration="BloqueoDesbloqueoLineaIFIPortTypeSOAP12Binding1"
                contract="SIACU.IFI.UnlockLine.BloqueoDesbloqueoLineaIFIPortType"
                name="ebsBloqueoDesbloqueoLineaIFISB12Port1" />
        </client>
    </system.serviceModel>
    <applicationSettings>
        <Claro.SIACU.ProxyService.IFI.Properties.Settings>
            <setting name="Claro_SIACU_ProxyService_IFI_RegistroAuditoriaWS_RegistroAuditoriaService"
                serializeAs="String">
                <value>http://limdeseaiv25.tim.com.pe:8903/RegistroAuditoria/RegistroAuditoriaPortSB11</value>
            </setting>
            <setting name="Claro_SIACU_ProxyService_IFI_ConsultaOpcionesAuditoriaWS_ConsultaOpcionesAuditoriaService"
                serializeAs="String">
                <value>http://limdeseaiv25.tim.com.pe:8903/ConsultaOpcionesAuditoria/ConsultaOpcionesAuditoriaPortSB11</value>
            </setting>
            <setting name="Claro_SIACU_ProxyService_IFI_AuditoriaWS_EbsAuditoriaService"
                serializeAs="String">
                <value>http://limdeseaiv22.tim.com.pe:8909/AuditoriaWS/EbsAuditoria</value>
            </setting>
            <setting name="Claro_SIACU_ProxyService_IFI_ServiciosPostpagoWS_ServiciosPostPagoWSService"
                serializeAs="String">
                <value>http://limdeseaiv24.tim.com.pe:8909/ServiciosPostPagoWS/ServiciosPostPagoWS</value>
            </setting>
            <setting name="Claro_SIACU_ProxyService_IFI_SIACU_EnvioCorreoSB_EnvioCorreoSBPortTypeSOAP11BindingQSService"
                serializeAs="String">
                <value>http://172.19.74.189:8901/EnvioCorreoSB/proxy_services/EnvioCorreoSB</value>
            </setting>
            <setting name="Claro_SIACU_ProxyService_IFI_WSGeneratePDF_EngineService"
                serializeAs="String">
                <value>http://172.19.74.223:8909/EngineService/EngineService</value>
            </setting>
            <setting name="Claro_SIACU_ProxyService_IFI_TransaccionOCC_TransaccionOCC"
                serializeAs="String">
                <value>http://limdesosbv05.tim.com.pe:8909/Billing_Services/BSCS/Transaction/TransaccionOCC</value>
            </setting>
            <setting name="Claro_SIACU_ProxyService_IFI_WSBRMS_REGLASAUTOMATIZACIONDEDOCUMENTOSDecisionService"
                serializeAs="String">
                <value>http://LIM-5S37KC2:8080/</value>
            </setting>
            <setting name="Claro_SIACU_ProxyService_IFI_SIACU_DigitalSignature_PRS_FirmaDigital_WS"
                serializeAs="String">
                <value>http://172.17.26.51:21000/PRS_FirmaDigital/SRV_PRS_FirmaDigital/Service/Exposition/EXP_FirmaDigital</value>
            </setting>
        </Claro.SIACU.ProxyService.IFI.Properties.Settings>
    </applicationSettings>
</configuration>